body {
  background-color: beige;
  font-family: Helvetica, serif;
}

img {
  display: flex;
  margin: auto;
  text-align: center;
  overflow: auto;
}

#banner {
  padding-bottom: 2rem;
  width: 100%;
}

button:hover {
  background-color: gray;
}
